version: '3'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka-broker:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  mongo-db:
    image: mongo:latest
    environment:
      MONGO_INITDB_DATABASE: reactive-systems
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017
  order-service:
    build: ./order-service
    ports:
      - "8080:8080"
    depends_on:
      - kafka-broker
      - mongo-db
  inventory-service:
    build: ./inventory-service
    ports:
      - "8081:8081"
    depends_on:
      - kafka-broker
      - mongo-db
  shipping-service:
    build: ./shipping-service
    ports:
      - "8082:8082"
    depends_on:
      - kafka-broker
      - mongo-db
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - order-service
      - inventory-service
      - shipping-service
